.progressbar {
  width: 50%;
  height: 20px;
  background-color: rebeccapurple;
  border-radius: 5px;
  animation: progressAnimation 5s linear infinite;
}

.canvasAutoEvents {
  pointer-events: auto;
}

.canvasNoneEvents {
  pointer-events: none;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
